.task-menu {
  position: relative;
  margin-top: 18px;
}

.task-menu:hover .menu-content {
  display: block;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-eyecatch {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin: 20px 0;
  object-fit: cover;
}